# 인터넷에다가 'gitignore.io'치고 거기에 'Django'치면 나옴.

# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media